<div class="container p-3">
    <div class="card">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="assets/img/black pearl.jpeg" alt="Black Pearl"/>
                </div>
            </div>
            <div class="col-md-8">
                <div class="profile-head">
                    <div>
                        <h5><label>Black Pearl</label></h5>
                        <h5><label>blackpearl@gmail.com</label></h5>
                        <h5><label>+91-9870876543</label></h5>
                        <h5><label>105, 4th Floor, Vikas Tech Park, 5th Block, Jyoti Nivas College Road, Koramangala, Bengaluru, Karnataka 560095
                        </label></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>