<div class="container py-5 my-5">
  <h1 class="py-3">Profile</h1>
 
  <div class="row">

    <div class="col-md-3">
      <div *ngIf="editable=='false'" class="text-center">
        <img contenteditable="false" id="profile" src="//placehold.it/250" alt="your image" width="250px" height="250px" />
        <div class="form-control">
          <input type="file" onchange="document.getElementById('profile').src = window.URL.createObjectURL(this.files[0])">
        </div>
      </div>

      <div *ngIf="editable=='true'" class="text-center">
        <img data-type="editable" id="profile" src="//placehold.it/250" alt="your image" width="250px" height="250px" />
        <div class="form-control">
          <input type="file" onchange="document.getElementById('profile').src = window.URL.createObjectURL(this.files[0])">
        </div>
      </div>
    </div>

  <div *ngIf="editable=='false'" class="col-md-9 personal-info">

      <form class="form-horizontal" >
          
          <div class="form-control">
            <div class="w3-bar">
              <div class="w3-bar-item w3-right">
                <img name="pencil" class="pencil"   (click)="edit()" src="../../assets/img/pen.png" height="30px" />
              </div>
            </div>
            <table class="p-5">

              <tr>
                <td>
                  <label class="control-label">Name:</label>
                </td>
                <td>
                  <label class="p-2">{{restaurant.restaurantName}}</label>
                </td>
              </tr>
              
              <tr>
                  <td>
                    <label class="control-label">Email:</label>
                  </td>
                  <td>
                    <label class="p-2">{{restaurant.email}}</label>
                  </td>
              </tr>

              <tr>
                  <td>
                    <label class="control-label">Mobile No:</label>
                  </td>
                  <td>
                    <label class="p-2">{{restaurant.mobile}}</label>
                  </td>
              </tr>

              <tr>
                  <td>
                    <label class="control-label">Address:</label>
                  </td>
                  <td>
                    <label class="p-2">{{restaurant.address}}</label>
                  </td>
              </tr>

              <tr>
                  <td>
                    <label class="control-label">Location:</label>
                  </td>
                  <td>
                    <label class="p-2">{{restaurant.location}}</label>
                  </td>
              </tr>

              <tr>
                  <td>
                      <label class="control-label">Username:</label>
                  </td>
                  <td>
                    <label class="p-2">{{restaurant.username}}</label>
                  </td>
              </tr>

              <tr>
                  <td>
                    <label class="control-label">Certificate No:</label>
                  </td>
                  <td>
                    <label class="p-2">{{restaurant.certificateNo}}</label>
                  </td>
              </tr>

              <tr>
                  <td>            
                    <label class="control-label">Certificate Name:</label>
                  </td>
                  <td>              
                    <label class="p-2">{{restaurant.certificateName}}</label>
                  </td>
              </tr>

            </table>
        </div>
      </form>
  </div>

  <div *ngIf="editable=='true'" class="col-md-9 personal-info">

      <form class="form-horizontal" >
        <div class="form-control">

          <table>

            <tr>
              <td>
                <label class="control-label">Name:</label>
              </td>
              <td>
                <input #editname class="p-2 form-control" value="{{restaurant.restaurantName}}">
              </td>
            </tr>
            
            <tr>
                <td>
                  <label class="control-label">Email:</label>
                </td>
                <td>
                    <input #editemail class="p-2 form-control" value="{{restaurant.email}}">
                </td>
            </tr>

            <tr>
                <td>
                  <label class="control-label">Mobile No:</label>
                </td>
                <td>
                    <input #editmobile class="p-2 form-control" value="{{restaurant.mobile}}">
                </td>
            </tr>

            <tr>
                <td>
                  <label class="control-label">Address:</label>
                </td>
                <td>
                    <input #editaddress class="p-2 form-control" value="{{restaurant.address}}">
                </td>
            </tr>

            <tr>
                <td>
                  <label class="control-label">Location:</label>
                </td>
                <td>
                    <input #editlocation class="p-2 form-control" value="{{restaurant.location}}">
                </td>
            </tr>

            <tr>
                <td>
                    <label class="control-label">Username:</label>
                </td>
                <td>
                    <input #editusername class="p-2 form-control" value="{{restaurant.username}}">
                </td>
            </tr>

            <tr>
                <td>
                  <label class="control-label">Certificate No:</label>
                </td>
                <td>
                    <input #editcertificateNo class="p-2 form-control" value="{{restaurant.certificateNo}}">
                </td>
            </tr>

            <tr>
                <td>            
                  <label class="control-label">Certificate Name:</label>
                </td>
                <td>              
                    <input #editcertificateName class="p-2 form-control" value="{{restaurant.certificateName}}">
                </td>
            </tr>

          </table>

          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input type="button" class="btn btn-primary" value="Save Changes" (click)="update(editname.value, editemail.value, editmobile.value, editaddress.value, editlocation.value,editusername.value, editusername.value, editcertificateNo.value)">
              <input type="reset" class="btn btn-default" value="Cancel" (click)="edit()">
            </div>
          </div>
          
        </div>
      </form>
  </div>
  </div>
</div>
