<!-- Charity Profile Details-->
<div class="row  w3-container">
    <div class="col-md-6">
      <div class="w3-card-4">
        <h5 class="w3-black w3-padding">Charity Profile</h5>
        <div class="w3-container w3-padding">
          <table class="w3-table-all">
            <tr>
              <th>Name</th>
              <td><input type="text" name="CharityName" placeholder="Enter Charity Name..." class="w3-input">
              </td>
            </tr>
            <tr>
              <th>Email</th>
              <td><input type="email" name="CharityName" placeholder="Enter Charity Email..."
                  class="w3-input"></td>
            </tr>
            <tr>
              <th>Mobile</th>
              <td><input type="number" name="CharityName" placeholder="Enter Charity Number..."
                  class="w3-input"></td>
            </tr>
            <tr>
              <th>Address</th>
              <td><input type="text" name="CharityName" placeholder="Enter Charity Address..."
                  class="w3-input"></td>
            </tr>
            <tr>
              <th></th>
              <td><button class="w3-btn w3-yellow w3-small w3-round">Update</button></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="w3-card-4">
        <h5 class="w3-black w3-padding">Charity People Strength</h5>
        <div class="w3-container w3-padding">
          <table class="w3-table-all">
            <tr>
              <th>Total Strength</th>
              <td><input type="number" name="CharityName" placeholder="Enter Charity Total Strength..."
                  class="w3-input"></td>
            </tr>
            <tr>
              <th>Veg</th>
              <td><input type="number" name="CharityName" placeholder="Enter Charity Veg Strength..."
                  class="w3-input"></td>
            </tr>
            <tr>
              <th>Non Veg</th>
              <td><input type="number" name="CharityName" placeholder="Enter Charity Non Veg..."
                  class="w3-input"></td>
            </tr>
            <tr>
              <th>Daily Requirement</th>
              <td><input type="number" name="CharityName"
                  placeholder="Enter Charity Daily Total Requirement..." class="w3-input"></td>
            </tr>
            <tr>
              <th></th>
              <td><button class="w3-btn w3-yellow w3-small w3-round">Update</button></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- End Of Charity Profile Details-->